* {
    font-family: 'Courier New', Courier, monospace;
    color: brown;
}

h1 {
    color: pink;
    text-align: center;
    background-color: lightgreen;
}

h3 {
   color: lightgreen; 
}

img {
    height: auto;
    width: 400px;
}