* {
    font-family: 'Courier New', Courier, monospace;
    color: brown;
    margin: 30px;
}

h1 {
    color: pink;
    text-align: center;
    background-color: lightgreen;
    border-style: dotted;
    border-width: 5px;
}

h3 {
   color: lightgreen; 
   border-style: double;
   border-color: pink;
   padding-left: 5px;
}

img {
    height: auto;
    width: 400px;
    margin-left: 450px;
}