
h1 {
    color: pink;
    font-family: 'Courier New', Courier, monospace;
    font-size: 50px;
    background-color: lightgreen;
    text-align: center;
    border-style: dotted;
    border-width: 5px;
    margin: 30px;
    padding: auto;
}

.list_container {
    border-style:double ;
    border-width: 5px;
    border-color: lightgreen;
    margin: 30px;

}

li {
    color: palevioletred;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: bold;
    font-size: 25px;
    margin: 20px;
}